.bg-container {
  background-image: linear-gradient(
    to bottom right,
    #9796f0 0.5%,
    #fbc7d4 150%
  );
  min-height: 100vh;
}

.navbar-container {
  background-color: #fff3;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5%;
  padding: 0 10px;
}

.navbar-card {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  min-width: 100%;
}

.navbar-text {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.name-text {
  color: white;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.puzzle-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60vh;
}

.matrix-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 50vh;
}

.matrix-tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
  border: 3px solid #ffffff30;
  color: rgb(100, 124, 228);
  background-color: #fff3;
  font-size: 36px;
  font-weight: 600;
}

.matrix-tiles:hover {
  /* background-color: rgb(100, 124, 228); */
  background-color: transparent;
  color: white;
  transform: scale(1.2);
  transition: all ease-in-out 0.2s;
  border-color: #bd4f6c;
}

.puzzle-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* width: 480px;
      height: 450px; */
  /* border: 2px solid gray; */
  padding: 10px;
  /* width: 500px;
  height: 450px; */
}

.puzzle-card-2-2 {
  width: 200px;
  height: 200;
}

.puzzle-card-3-3 {
  width: 270px;
  height: 300;
}

.puzzle-card-4-4 {
  width: 315px;
  height: 450;
}

.number-tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  min-width: 70px;
  min-height: 70px;
  border: 3px solid #ffffff30;
  color: purple;
  background-color: #fff3;
  font-size: 36px;
  margin: 5px 0;
}

.number-tiles:hover {
  background-color: #fbc7d4;
  transform: scale(1.07);
  transition: all ease-in-out 0.2s;
  color: white;
  border: none;
}

.number-tiles-zero {
  background-color: #9796f0;
  color: rgb(204, 62, 204);
}

.number-tiles-zero:hover {
  background-color: rebeccapurple;
  color: white;
}

.danger:hover {
  background-image: linear-gradient(to right, #d7816a, #bd4f6c);
}

.success:hover {
  background-image: linear-gradient(to right, #0bab64, #6ec8ac);
}
